{
    "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "bottomRight",
      "offset" : [-6, 0],
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileBody" : "/interface/persona/techEquip/background.png?multiply=FFFFFF00"
    },
    "body" : {
      "type" : "image",
      "zlevel" : -1,
      "position": [0, 0],
      "file" : "/interface/persona/techEquip/background.png"
    },
    "label" : {
      "type" : "label",
      "position" : [100, 47],
      "hAnchor" : "mid",
      "value" : "^#8d2027;P^#9e1d33;e^#b01943;r^#c21458;s^#d60e72;o^#ea0791;n^#ff00b7;a^reset; requires a functional grabber tech.\nEquip it?"
    },
    "btnDash" : {
      "type" : "button",
      "position" : [10, 13],
      "pressedOffset" : [0, -1],
      "caption" : "Equip",
      "zlevel" : 3,
      "base" : "/interface/persona/techEquip/button.png",
      "hover" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "pressed" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "callback" : "techLoader.equipTech"
    },
    "btnDismiss" : {
      "type" : "button",
      "position" : [76, 13],
      "pressedOffset" : [0, -1],
      "caption" : "Dismiss",
      "zlevel" : 2,
      "base" : "/interface/persona/techEquip/button.png",
      "hover" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "pressed" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "callback" : "techLoader.dismiss"
    },
    "btnIgnore" : {
      "type" : "button",
      "position" : [144, 13],
      "pressedOffset" : [0, -1],
      "caption" : "Ignore",
      "zlevel" : 1,
      "base" : "/interface/persona/techEquip/button.png",
      "hover" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "pressed" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "callback" : "techLoader.ignore"
    }
  },

  "scrollWidgets" : [
    "body",
    "label",
    "btnDash",
    "btnIgnore",
    "btnDismiss"
  ],
  "scrollOffset" : [0,-50],

  "scriptWidgetCallbacks" : [
    "techLoader.equipTech",
    "techLoader.dismiss",
    "techLoader.ignore"
  ],

  "scripts" : ["/interface/persona/techEquip/techEquip.lua"],
  "scriptDelta" : 1
}
