{
    "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "bottomRight",
      "offset" : [-10, 0],
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileBody" : "/interface/persona/techEquip/background.png?multiply=FFFFFF00"
    },
    "body" : {
      "type" : "image",
      "zlevel" : -1,
      "position": [0, 0],
      "file" : "/interface/persona/techEquip/background.png"
    },
    "logo" : {
      "type" : "image",
      "zlevel" : 1,
      "position": [92, 14],
      "file" : "/persona/modicon.png"
    },
    "label" : {
      "type" : "label",
      "position" : [100, 50],
      "hAnchor" : "mid",
      "value" : "^#8d2027;P^#9e1d33;e^#b01943;r^#c21458;s^#d60e72;o^#ea0791;n^#ff00b7;a^reset; requires a functional grabber tech.\nPlease choose a tech slot:"
    },
    "btnHead" : {
      "type" : "button",
      "position" : [30, 33],
      "pressedOffset" : [0, -1],
      "caption" : "Head",
      "zlevel" : 1,
      "base" : "/interface/persona/techEquip/button.png",
      "hover" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "pressed" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "callback" : "techEquip.head"
    },
    "btnBody" : {
      "type" : "button",
      "position" : [82.5, 33],
      "pressedOffset" : [0, -1],
      "caption" : "Body",
      "zlevel" : 1,
      "base" : "/interface/persona/techEquip/button.png",
      "hover" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "pressed" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "callback" : "techEquip.body"
    },
    "btnLegs" : {
      "type" : "button",
      "position" : [135, 33],
      "pressedOffset" : [0, -1],
      "caption" : "Legs",
      "zlevel" : 1,
      "base" : "/interface/persona/techEquip/button.png",
      "hover" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "pressed" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "callback" : "techEquip.legs"
    },
    "btnDismiss" : {
      "type" : "button",
      "position" : [30, 16],
      "pressedOffset" : [0, -1],
      "caption" : "Dismiss",
      "zlevel" : 1,
      "base" : "/interface/persona/techEquip/button.png",
      "hover" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "pressed" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "callback" : "techEquip.dismiss"
    },
    "btnIgnore" : {
      "type" : "button",
      "position" : [135, 16],
      "pressedOffset" : [0, -1],
      "caption" : "Ignore",
      "zlevel" : 1,
      "base" : "/interface/persona/techEquip/button.png",
      "hover" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "pressed" : "/interface/persona/techEquip/button.png?multiply=FF0000FF",
      "callback" : "techEquip.ignore"
    }
  },

  "scrollWidgets" : [
    "body",
    "logo",
    "label",
    "btnHead",
    "btnBody",
    "btnLegs",
    "btnIgnore",
    "btnDismiss"
  ],
  "scrollOffset" : [0,-75],

  "scriptWidgetCallbacks" : [
    "techEquip.head",
    "techEquip.body",
    "techEquip.legs",
    "techEquip.dismiss",
    "techEquip.ignore"
  ],

  "scripts" : ["/interface/persona/techEquip/techEquip.lua"],
  "scriptDelta" : 1
}
